@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro";
}

.button-to-top{
    background-color: lightgrey;
    transition: .4s all ease-in;
    z-index: 10;
    position: fixed;
    opacity: 0%;
    top: 50px;
    left: 50px;
    height: 4rem;
    width: 4rem;
    border: 10px solid rgba(211, 211, 211);
    border-radius: 50%;
}

.button-arrow{
    position: absolute;
    right: 0;
    left: 5px;
    bottom: 8px;
    transform: rotate(-90deg) scale(120%);
}

.button-to-top:hover{
    border: 10px solid rgb(167, 167, 167);
}