@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro";
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
}

#info{
    position: fixed;
    z-index: 5;
    color: white;
    right: 2rem;
    bottom: 2rem;
    color: black;
}

#scrollInfo{
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    z-index: 6;
    bottom: 2rem;
    left: 40%;
    user-select: none;
    background: black;
    color: white;
    height: 4rem;
    text-align: center;
    grid-template-rows: repeat(2, 1fr);
}

header{
    border: 2px solid black;
    transition: 1s all ease;
    background: grey;
    height: 10rem;
    z-index: 5;
    position: relative;
    width: 100vw;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

#chooseBlack, #chooseRed, #chooseGreen, #chooseBlue, #eraser{
    z-index: 6;
    height: 2rem;
    width: 5rem;
    background: lightblue;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
}

#chooseBlack{
    background:rgb(0, 255, 0);
}

#tabButton{
    transition: .5s ease;
    font-weight: 1000;
    font-size: 1.25rem;
    position: absolute;
    background: black;
    color: white;
    cursor: pointer;
    width: 5rem;
    height: 2rem;
    border-radius: 2rem;
    border: 2px solid white;
    text-align: center;
    right: 2rem;
    top: 2rem;
    z-index: 10;
}