@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto';
}

body{
    height:100vh;
}

header{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 20%;
    background-color: black;
    border-bottom: 2px solid black;
    -webkit-box-shadow: 1px 4px 7px 3px rgba(0,0,0,0.5); 
    box-shadow: 1px 4px 7px 3px rgba(0,0,0,0.5);
    color: white;
    font-size: 150%;
    letter-spacing: 10px;
    text-transform: uppercase;
}

#secret:hover{
    cursor: pointer;
}

main{
    width: 100vw;
    height: 80%;
    display:grid;
    place-items:center;
    padding: 10%;
}

#ur{
    display:grid;
    grid-auto-flow:column;
    place-items:center;
    font-size:20vh;
}

#alarm-container{
    text-align: center;
    font-size: 1.5rem;
}

#button-holder{
    display: grid;
    grid-auto-flow: column;
    width: 30%;
}

#setButton{
    float: left;
    color: black;
    background-color: green;
    border: 3px solid black;
    padding: 2px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

#clearButton{
    float: right;
    color: black;
    background-color: red;
    border: 3px solid black;
    padding: 2px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

label{
    display: inline-block;
}

#ur div:nth-of-type(2), #ur div:nth-of-type(4){
    margin-bottom:4vh;
}