@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

::selection{
    color: white;
    background-color: white;
}

body{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
    width: 100vw;
}

#ur{
    background-color: rgba(0, 0, 0, 0.445);
    color: yellow;
    display: grid;
    grid-auto-flow: column;
    font-size: 20vh;
    border: 2px yellow solid;
    cursor: move;
    position: absolute;
}

header{
    background-color: rgb(55, 0, 255);
    border: 2px solid red;
    display: grid;
    place-items: center;
}

#clickMe{
    text-decoration: underline;
    cursor: pointer;
}

main{
    background-color: black;
    display: grid;
    place-items: center;
    border-left: 2px solid red;
    border-right: 2px solid red;
}

footer{
    background-color: rgb(55, 0, 255);
    border: 2px solid red;
    display: grid;
    place-items: center;
}

#insp{
    display: grid;
    place-items: center;
    font-size: 3vh;
}

#insp h1{
    margin-bottom: 4vh;
}

#link1{
    cursor: pointer;
    color: darkred;
    text-decoration: underline;
}

#link2{
    cursor: pointer;
    color: darkred;
    text-decoration: underline;
}