@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monoton';
}

body{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
    overflow: hidden;
}


#thomas{
    height: 30vh;
    width: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: all .5s ease-in-out;
}

main{
    display: grid;
    place-items: center;
}

#ur{
    color: greenyellow;
    display: grid;
    grid-auto-flow: column;
    font-size: 20vh;
    letter-spacing: 10px;
}